[Unit]
Description=ChirpStack Gateway Bridge
Documentation=https://www.chirpstack.io/

[Service]
User=root
ExecStart=/usr/bin/chirpstack-gateway-bridge
Restart=on-failure

[Install]
WantedBy=multi-user.target